@model List<DepartmentModel>
@{
	ViewData["Title"] = "Department List";
}

<div class="all-title-box">
	<div class="container text-center">
		<h1>Departments</h1>
	</div>
</div>

<div id="overviews" class="section wb">
	<div class="container">

		<hr class="invis">
		<div class="row">
			<div class="col-md-3" style="padding-bottom:30px; padding-top:20px;">
				<a asp-action="Create" class="btn btn-light btn-radius btn-brd grd1 btn-block" style="text-align:center;"><i class="fa fa-plus"></i>  Add new department </a>
			</div>
		</div>

		<div class="row">
			@foreach (var department in Model) {
				<div class="col-lg-3 col-md-6 col-12">
					<div class="course-item">
						<div class="image-blog">
							<img src="~/images/blog_1.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a asp-action="Detail" asp-route-id="@department.Id" title="">@department.Name</a></h2>
							</div>
							<div class="course-desc">

								<a asp-action="Edit" asp-route-id="@department.Id" class=" btn btn-light btn-radius btn-brd grd1 btn-block" style="text-align:center;"><i class="fa fa-edit"></i>  Edit </a>

								<a asp-action="Delete" asp-route-id="@department.Id" class="btn btn-light btn-radius btn-brd grd1 btn-block" style="text-align:center;"><i class="fa fa-trash-alt"></i>  Delete </a>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> 6 Month</li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> 7 Books</li>
							</ul>
						</div>
					</div>
				</div><!-- end col -->
			}
		</div>
	</div>
</div>


